<% @flavors.each do |flavor| %>
    <p><%= flavor.name %></p>
    <p><%= flavor.purchase_price%></p>
<% end %>
<%= @flavors.all.sum(:purchase_price) %>
<%= link_to "レシート一覧", image_user_path(current_user) %>

<p>hello world</p>
